.card-details {
  width: 50%;
  margin: 5rem auto;
}

.card-details h2 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 18px;
}

.card-details p {
  margin: 2.5rem 0;
  line-height: 1.75;
}