.footer {
	max-width: 900px;
	margin: 3rem auto 2rem;
	padding-top: 2rem;
}

.footer,
.footer a {
	font-size: 0.9rem;
}

.footer li {
	line-height: 1.9;
}

.footer .footer-cols {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

@media (max-width: 980px) {
	.footer-cols ul {
		justify-self: start;
	}
}

@media (max-width: 500px) {
	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
		gap: 0;
	}
}
