.showcase-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 3rem auto;
  z-index: 10;
}

.logo {
  font-family: 'Merienda', cursive;
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: var(--primary-color);
  cursor: pointer;
}

.links * {
  display: inline-block;
  margin: 0 1.5em;
}

.modal {
  position: relative;
  width: 100%;
  height: 100vh;
}

.modal-content {
  position: fixed;
  z-index: 10;
  max-width: 420px;
  min-height: 420px;
  height: fit-content;
  inset: 0;
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 hsla(0, 0%, 0%, 0.2),
    0 7px 20px 0 hsla(0, 0%, 0%, 0.17);
  background: hsla(0, 0%, 100%, 0.9);
}

.modal::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.2);
  box-shadow: inset 155px 100px 125px var(--background-color),
    inset -155px -100px 125px var(--background-color);
}

.modal::after {
  box-shadow: inset 0 50px 100px var(--background-color),
    inset 0 -10px 50px var(--background-color);
}

.sign-in {
  height: 100px;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .logo {
    font-size: 1.65em;
  }

  .links * {
    margin: 1rem 0.75rem 0;
  }
}

@media (max-width: 350px) {
  .links * {
    margin: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
